.DS_Store
*.sql
*.swp
*.swo
*.pyc
*.json
*.ini
*.tfvars
.terraform*
*.tfplan
*.tfstate*
*.bk
*.pem
*_test.sh
venv/*
.secrets
.idea/*
*.zip

# ignore eventthing in scripts/nodejs_get_images and 
# let scripts/nodejs_get_images/.gitignore handle ignores 
!scripts/nodejs_get_images/**